<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
        <style>
      label{
        margin-left: 200px;
        margin-bottom: 10px;
       color: white;
      }
      #form{
        border-radius: 30px;
        background:linear-gradient(90deg,blue,red);
        /* background-image: url(signin.jpg); */

        background-size: cover;
        margin:300px;
        padding:40px;
      }
      body{
        background-image: url("../static/assets/img/signin.jpg");
        background-size: cover;
      
      }
      
      </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOfoWy2dlCgfiMRbzYBZZlvPhAhKTOMoX0Rg&s" width="90" height="60">
    <a class="navbar-brand" href="#">Venus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>&nbsp;&NonBreakingSpace;
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'form' %}">Form</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'service' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
      <i class="fa-solid fa-moon"></i>&nbsp;&nbsp;
<a href="{% url 'signin' %}">
<button type="button" class="bn btn-primary btn-sm">Sign in</button>
      </a>&nbsp;&nbsp;
      <a href="{% url 'signup' %}">
<button type="button" class="btn btn-secondary btn-sm">Sign up</button>
      </a>&nbsp;&nbsp;

    </div>
  </div>
</nav>

        <form id="form">
            <h2 style="text-align: center;color: white;">Log in</h2><br>
            <label>Email:</label><br>
            <input type="email" id="email" style="margin-left: 200px;" placeholder="Enter your email"><br><br>
            <label >Password:</label><br>
            <input type="password" id="password" style="margin-left: 200px;" placeholder="Enter your password"><br><br><br>
            <!-- <label style="color: blue;">forget password?</label><br><br><br> -->
            <button class="btn btn-primary btn-sm" style="margin-left: 150px;width: 400px;">Log in</button>
        </form> 
<footer class="bg-dark text-light pt-5 pb-4">
  <div class="container">
    <div class="row">

      <!-- Brand / About -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase fw-bold">Venus</h5>
        <p class="small">
          Building modern, responsive websites using Bootstrap.
        </p>
      </div>

      <!-- Links -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase fw-bold">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'index' %}" class="text-light text-decoration-none">Home</a></li>
          <li><a href="{% url 'about' %}" class="text-light text-decoration-none">About</a></li>
          <li><a href="{% url 'form' %}" class="text-light text-decoration-none">Form</a></li>
           <li><a href="{% url 'contact' %}" class="text-light text-decoration-none">Contact</a></li>
            <li><a href="{% url 'service' %}" class="text-light text-decoration-none">Services</a></li>
         
        </ul>
      </div>

      <!-- Social -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase fw-bold">Contact us</h5><br>
        <h6>Email:venus@gmail.com</h6>
        <h6>Phone:1234567890</h6>
        <!-- <a href="#" class="text-light me-3">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="text-light me-3">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="#" class="text-light me-3">
          <i class="bi bi-instagram"></i>
        </a> -->
      </div>

    </div>

    <hr class="border-secondary">

    <!-- Copyright -->
    <div class="text-center small">
      © 2025 Venus. All rights reserved.
    </div>
  </div>
</footer>

    
</body>
</html>