    /* h1{
        color:rgb(206, 16, 26);
    }
    #sharmi{
        background-color:rgb(204, 255, 204);
        font-style: oblique;
        text-align:start;
    }
    #mental{
        font-size: smaller;
        text-decoration-line: overline;
    }
    .virat{
        color:blue;
        font-weight: bolder;
    }
    #dept{
        background-color: rgb(5, 115, 233);
        padding: 10px;
    }
    .tom{
        text-transform: capitalize;
        background: chartreuse;
    }
    .jerry{
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(230, 13, 193);
    }
    body {
    margin: 0;
    background: #000;
    font-family: Arial, sans-serif;
} */

/* .footer {
    background: #000;
    padding: 40px 60px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-width: 150px;
}

.footer-column h3 {
    margin-bottom: 12px;
    font-size: 18px;
    color: white;
}

.footer-column a {
    color: #cfcfcf;
    text-decoration: none;
    margin: 5px 0;
    font-size: 15px;
}

.footer-column a:hover {
   color:white;
} */

  label{
        margin-left:300px;
        width:200px;
        display:inline-block;
      }
#form{
        border-radius: 30px;
        background-color: pink;
        margin:100px;
      }
body{
        background-image:url("../img/form.jpg");
        background-size :cover;
        /* background-color: black; */
      }